<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title></meta>
</head>
<body>

    <h1>First impression of my page</h1>
<!--/*@thymesVar id=|variable" type="StaticWebPageController"*/-->
<span th:text="${variable}"></span>

<br> </br>

<!--/*@thymeVar id="one" type="StaticWebPageController"*/-->
<!--/*@thymeVar id="two" type="StaticWebPageController"*/-->
<span th:text="${two}"></span> * <span th:text="${two}"></span> =
    <span th:text="${two} + ${two}"></span>
    <br> </br>

    <span th:text="${two}"></span> * <span th:text="${two}"></span> +
    <span th:text="${two}"></span> = <span th:text="${six}"></span>
<br> </br>
    <span th:text="${two}"></span> - <span th:text="${two}"></span> *
    <span th:text="${two}"></span> = <span th:text="${-two}"></span>


</body>
</html>